html, body {
    margin: 0;
}
body {
    background-color: #0c4a6e;
}

.navLink, .navLinkActive {
    font-Family: "Fredericka The Great", serif;
    font-Size: 1.2rem;
    text-Decoration: none
}
.navLink {
    color: #f9fafb;
}
.navLinkActive {
    color:#0c4a6e;
}
.navLink:hover, .navLinkActive:hover {
    text-decoration: underline;
}